* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-image: url("./assets/ben-white-xqjMjaGGhmw-unsplash.jpg");
  background-size: cover;
  min-height: 100vh;
  backdrop-filter: blur(5px);
}

.app-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: hsla(0, 0%, 10%, 0.9);
  box-shadow: 5px 5px 15px hsla(0, 0%, 90%, 0.65);
  padding: 40px;
  border-radius: 5px;
}

.settings-btn {
  position: absolute;
  top: 40px;
  right: 40px;
  padding: 20px 10px;
  border: 2px solid hsla(0, 0%, 90%, 0.6);
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.settings-btn:hover {
  border: 2px solid hsla(0, 0%, 90%, 1);
}

.settings-burger {
  width: 30px;
  height: 4px;
  background-color: hsla(0, 0%, 90%, 0.6);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.settings-burger::before,
.settings-burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: hsla(0, 0%, 90%, 0.6);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.settings-burger::before {
  transform: translateY(-10px);
}

.settings-burger::after {
  transform: translateY(10px);
}

.settings-btn.open .settings-burger {
  transform: translateX(-30px);
  background-color: transparent;
}

.settings-btn.open .settings-burger::before {
  transform: rotate(45deg) translate(21px, -21px);
  background-color: hsla(0, 0%, 90%, 1);
}

.settings-btn.open .settings-burger::after {
  transform: rotate(-45deg) translate(21px, 21px);
  background-color: hsla(0, 0%, 90%, 1);
}

.card-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  /* z-index: 100; */
}

.countdown-container {
  display: flex;
}

h1 {
  font-size: 4rem;
  font-weight: normal;
  color: hsla(0, 0%, 90%, 1);
  letter-spacing: 0.1em;
  margin: 40px 0;
}

.big-text {
  font-size: 6rem;
  line-height: 1;
  margin: 0 32px;
  font-weight: bold;
  color: hsla(0, 0%, 90%, 0.65);
}
.counter {
  text-align: center;
}

.small-text {
  color: hsla(0, 0%, 90%, 0.65);
  letter-spacing: 0.1em;
}

.settings {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  background: hsla(0, 0%, 10%, 0.95);
  position: absolute;
  border-radius: 5px;
  color: white;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;
}

.active {
  transform: translateX(0);
  opacity: 1;
}

.settings h2 {
  color: hsla(0, 0%, 90%, 1);
  font-size: 2.5rem;
  text-transform: uppercase;
  padding: 0 30px;
}

.settings label {
  padding: 10px;
}

.save {
  padding: 10px 25px;
  margin: 20px 0;
  border: none;
  border-radius: 5px;
  background-color: hsla(205, 100%, 50%, 1);
  color: hsla(0, 0%, 100%, 1);
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.save:hover {
  background-color: rgb(0, 98, 255);
}

@media only screen and (max-width: 900px) {
  .countdown-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  h1 {
    margin-bottom: 16px;
    text-align: center;
  }

  .counter {
    padding: 16px;
  }
  .big-text {
    font-size: 4rem;
    padding: 16px 0;
  }
}
